<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <style>
        .navbar {
            height: 60px;
        }
    </style>

    <title>Booked Rooms</title>
  </head>
  <body>
    <div class="container-fluid navbar bg-dark text-light">
        <span class="mx-auto">Booked Rooms</span>
    </div>
    <div class="container mt-4">
        {% if object_list|length%}
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Capacity</th>
                <th scope="col">Area</th>
              </tr>
            </thead>
            <tbody>
              {% for room in object_list %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{room.name}}</td>
                    <td>{{room.capacity}}</td>
                    <td>{{room.area}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class="container text-center">
            <span>
              {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}" class="text-decoration-none me-3 btn btn-success">Previous</a>
              {% endif %}
              <span>
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="text-decoration-none ms-3 btn btn-success">Next</a>
              {% endif %}
            </span>
          </div>
        {% else %}
          <p class="alert alert-info">No room is booked!</p>
        {% endif %}
        
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
